@import url(../_.css);
@import url(../sidebar.css);

.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 150px);
  padding: 0 20%;
}

.tract-image {
  margin: 0.5rem 0;
  width: 100%;
  height: 470px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 2rem;
  width: 60%;
  text-align: center;
  margin: 8rem auto;
  padding-top: 1.5rem;
}

.crumbs {
  margin-bottom: 2.4rem;
  font-size: 1.2rem;
}

.crumbs > * {
  display: inline;
  margin-left: 4rem;
}

.topics > * {
  color: var(--pale-color);
  margin-left: 0.8rem;
}

.text-container > * {
  font-size: 1.6rem;
  margin-bottom: 1.7rem;
  text-align: justify;
  line-height: 2.2rem;
}

.previous-page {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  margin: 3rem;
}

.previous-page p {
  margin-left: 0.5rem;
  font-family: adobeShinStout;
  font-size: 1.9rem;

  color: var(--primary-color);
}

.previous-page svg {
  margin-top: 0.7rem;
}

.comments-container {
  width: 100%;
}

.comments-count {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  font-size: 28px;
  position: relative;
  background-color: var(--background-color);
}

.comments-count:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #555;
  opacity: 0.7;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 30%;
  z-index: 1;
}

h5 {
  color: var(--primary-color);
  font-size: 1.5rem;
  background-color: var(--background-color);
  width: auto;
  display: inline-block;
  z-index: 3;
  padding: 0 10px 0 10px;
  position: relative;
  margin: 0 50px 0 0;
}

.compatible {
  width: 40%;
  border-right: 3px #666 solid;
  padding: 0.5rem;
  background-color: var(--white-menu-color);
  padding-right: 1rem;
  margin-bottom: 2rem;
  position: relative;
  font-style: italic;
}

.compatible-left {
  left: -4rem;
  float: left;
}

.compatible-right {
  right: -4rem;
  float: right;
}

.compatible ~ p {
  width: auto;
}

/* .comments-container .wrapper {
  opacity: 0.7;
  transition: all 0.2s ease;
}

.comments-container .wrapper:hover {
  opacity: 1;
}

.comments-container .crumbs {
  justify-content: space-between;
}

.comments-container .crumbs > * {
  padding: 0;
  opacity: 1;
}

.comments-container .date {
  font-size: 0.8rem;
  margin-top: 3px;
}

.comments-container h5 {
  font-size: 1.15rem;
  color: black;
}

.comments-container .message {
  padding-top: 0.2rem;
  font-size: 1.15rem;
  border-bottom: none;
}

.comments-container {
  margin: 0;
  width: 0;
} */

.comments-container .comment-wrapper {
  justify-self: left;
  direction: ltr;
  width: 100%;
  position: relative;
  height: auto;
}

.comment-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.comments-container .crumbs {
  direction: rtl;
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  margin: 0;
  padding-bottom: 0.9rem;
}

.comments-container .crumbs > * {
  padding-left: 3rem;
  padding-bottom: 0;
  margin: 0;
  opacity: 0.4;
}

.comments-container .date {
  font-size: 1rem;
  margin-top: 3px;
}

.comments-container h5 {
  font-size: 1.35rem;
  opacity: 0.7;
}

.comments-container .message {
  direction: rtl;
  border-bottom: 1px rgb(0, 0, 0, 0.2) solid;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.comments-container .comments-container {
  margin-top: 2.5rem;
  direction: rtl;
  width: 90%;
  min-width: 33vw;
}
